{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Performance list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dateperformance</th>
                <th>Ticketwebsite</th>
                <th>Ticketemail</th>
                <th>Tickettelephone</th>
                <th>Ticketpricelowest</th>
                <th>Ticketpricehighest</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('performance_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.datePerformance %}{{ entity.datePerformance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.ticketWebsite }}</td>
                <td>{{ entity.ticketEmail }}</td>
                <td>{{ entity.ticketTelephone }}</td>
                <td>{{ entity.ticketPriceLowest }}</td>
                <td>{{ entity.ticketPriceHighest }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('performance_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('performance_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('performance_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
