{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Performance</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Dateperformance</th>
                <td>{{ entity.datePerformance|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ticketwebsite</th>
                <td>{{ entity.ticketWebsite }}</td>
            </tr>
            <tr>
                <th>Ticketemail</th>
                <td>{{ entity.ticketEmail }}</td>
            </tr>
            <tr>
                <th>Tickettelephone</th>
                <td>{{ entity.ticketTelephone }}</td>
            </tr>
            <tr>
                <th>Ticketpricelowest</th>
                <td>{{ entity.ticketPriceLowest }}</td>
            </tr>
            <tr>
                <th>Ticketpricehighest</th>
                <td>{{ entity.ticketPriceHighest }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('performance') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('performance_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
