{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Numberissimo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Floatissimo</th>
                <td>{{ entity.floatissimo }}</td>
            </tr>
            <tr>
                <th>Decimalissimo</th>
                <td>{{ entity.decimalissimo }}</td>
            </tr>
            <tr>
                <th>Decimalissimoprecision</th>
                <td>{{ entity.decimalissimoprecision }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('numberissimo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('numberissimo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
